<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PSD Bench Station View</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
        <link rel="stylesheet" href="{% static 'css/multiple-select.min.css' %}">
        
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script src="{% static 'js/vue.js' %}"></script>
        <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-table-vue.min.js' %}"></script>
    
    </head>

    <body>
        <h1>Welcome to Beijing PSD Bench</h1>
        <div class = "container-fluid">
            <div id="BJ_PSD_Bench">
                <bootstrap-table :columns="columns" :data="data" :options="options" :style="style"></bootstrap-table>
            </div>
            <div>
                <h5>Beijing PSD Bench maintant by xxx(EID:xxxxxx, Email:xxx@Honeywell.com), please contact the maintant stuff for help</h5>
            </div>
            <div>
                <h5>{{machine}}</h5>
            </div>

        </div>
        <script>

            var vm = new Vue({
                el: '#BJ_PSD_Bench',
                components: {
                'BootstrapTable': BootstrapTable
                },
                data: {
                    columns: [
                        {
                        field: 'ID',
                        title: 'Machine ID'
                        },
                        {
                        field: 'Hostname',
                        title: 'Machine HostName'
                        },
                        {
                        field: 'Status',
                        title: 'Machine Status',
                        formatter: StatusFormater
                        },
                        {
                        field: 'User',
                        title: 'Current User'
                        },
                        {
                        field: 'Schedule',
                        title: 'Schedule and Book time'
                        }
                    ],
                    data:[],
                    options: {
                        search: false,
                        showColumns: false
                    },
                    style:{
                        background: 'linear-gradient(to right, rgba(0, 255, 0, 0.2) 0% , rgba(0, 255, 0, 0.2) 55.00%, rgba(0, 255, 0, 0.0) 57.00%)'
                    }
                },
                created: function() {
                    var that = this;
                    var url = "/freshTable/";
                    $.get("freshTable", function(data){
                        vm.data = data.machine;
                    });
                },
                methods: {
                    
                }
            });
            function StatusFormater(value){
                var html;
                if(value=="Enable"){
                    html="<span style='color:green'>"+value+"</span>";
                }
                else{
                    html="<span style='color:red'>"+value+"</span>";
                }
                return html;
            };
        </script>
    </body>
</html>